* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
}
:root {
    --fontKhmer: 'kantumruy';
    --fontEnglish: 'Exo', sans-serif;
    --background: #FFFFFF;
    --colorBox: #f5f5f5;
    --red: #198754;
    --colorBlack: #000;
    --fontSmall: 12px;
    --fontSize: 18px;
    --fontIcon: 25px;
}
/* header */
.header{
    width: 100%;
    height: 65px;
    background-color: var(--red);
}
.header .header-left{
    width: 50%;
    height: 100%;
    float: left;
}
.header img{
    margin-left: 20px;
    margin-top: 2px;
}
.header p{
    margin-top: -45px;
    margin-left: 80px;
    font-size: var(--fontSize);
    font-family: var(--fontEnglish);
    color: var(--background);
}
.header .header-right{
    width: 40%;
    height: 100%;
    float: left;
}
.header .header-right p{
    margin-top: 20px;
    float: right;
    color: var(--background);
    font-family: var(--fontKhmer);
    font-family: var(--fontEnglish);
}
.menu{
    width: 10%;
    height: 100%;
    float: right;
    margin-top: 20px;
    position: relative;
}
.header .menu i{
    font-size: var(--fontIcon);
    color: var(--background);
    margin-left: 20px;
    cursor: pointer;
}
.header .menu .img{
    position: absolute;
    margin-top: 1px;
}
.menu nav{
    width: 100px;
    height: 50px;
    background-color: var(--background);
    display: none;
    margin-top: 17px;
    margin-left: 22px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 1px 2px 0 var(--colorBox),
    0 2px 3px 0 var(--colorBox);
}
.menu nav ul{
    list-style-type: none;
}
.menu nav ul li a{
    text-decoration: none;
    font-size: var(--fontSmall);
    font-family: var(--fontKhmer);
    color: var(--colorBlack);
}
.menu nav .icon{
    color: var(--colorBlack);
    font-size: var(--fontSmall);
}
.menu nav ul li:hover{
    background-color: var(--red);
    transform: scale(103%);
    color: var(--background);
}
.menu nav ul li a:hover, .menu nav .icon:hover{
    color: var(--background);
    opacity: 1;
}


/* container */
.container {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 200px;
    margin: auto;
    margin-top: 20px;
}
.container .container-left {
    width: 100%;
    height: 100%;
    background-color: var(--colorBox);
    float: left;
    margin-left: .5%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 3px 0px var(--colorBox),
    0px 3px 2px 0px var(--colorBox);
    cursor: pointer;
}

.container .container-left img {
    margin-left: 35%;
    margin-top: 35px;
}

.container .container-left .txt p {
    text-align: center;
    margin-top: 20px;
    font-size: var(--fontSize);
    font-family: var(--fontEnglish);
}

/* media responsive screen */

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat( 2 ,1fr);
        padding: 0px 10px;
    }
    .header-left img{
        margin-left: 10px;
    }
    .header-left p{
        font-size: 14px;
        margin-left: 70px;
        margin-top: -42px;
    }
    .header-right{
        display: none;
    }
    .menu{
        margin-right: 80px;
    }
    .menu i{
        float: left;
    }
    .menu nav{
        position: absolute;
        top: 43.5%;
    }
    .container-left img{
        width: 60px;
        height: 60px;
    }
    .container-left .txt p{
        font-size: 12px;
    }

}

@media screen and (min-width: 600px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 10px;
    }
    .header-left p{
        font-size: var(--fontSize);
    }
    .header-right{
        display: none;
    }
    .menu{
        margin-right: 60px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 10px;
    }
    .header-left p{
        font-size: var(--fontSize);
    }
    .header-right{
        display: block;
    }
    .header-right p{
        font-size: 15px;
        margin-right: 10px;
    }
    .menu{
        position: absolute;
        right: 0%;
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 10px;
    }
    .header-left p{
        font-size: var(--fontSize);
    }
    .header-right{
        display: block;
    }
    .header-right p{
        font-size: 15px;
        margin-right: 10px;
    }
    .menu{
        position: absolute;
        right: 0%;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0px 10px;
    }
}